html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    color: #696969;
}

#num {
    display: none;
}

.outer,
.inner {
    display: flex;
    align-items: center;
    justify-content: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    margin: auto;
    background: linear-gradient(135deg, white, white, #fce6ae, #94fff1, #9cf9ec, #f8b0c1, #ffc156);
    background-size: 400% 400%;
    animation: gradient 20s ease infinite;
}

.outer {
    box-shadow: inset 5px 5px 4px 10px #f0f0f0, inset -5px -5px 4px 10px white;
    height: 92%;
    width: 92%;
}

.inner {
    box-shadow: inset 10px 10px 40px 8px #f0f0f0, inset -10px -10px 40px 4px white;
    height: 92%;
    width: 95%;
    letter-spacing: -4px;
    font-size: 70px;
}

@keyframes gradient {
    0% {
        background-position: 0% 0%;
    }

    5% {
        background-position: 0% 0%;
    }

    27.5% {
        background-color: 50% 50%;
    }

    50% {
        background-position: 100% 100%;
    }

    52% {
        background-position: 100% 100%;
    }

    77.5% {
        background-color: 50% 50%;
    }

    100% {
        background-position: 0% 0%;
    }
}